<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.crawler.dao.IPolicyExtensionDao">
    <resultMap id="BaseResultMap" type="com.example.crawler.entity.PolicyExtension">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <id column="policyId" jdbcType="VARCHAR" property="policyId"/>
        <result column="policyMode" jdbcType="VARCHAR" property="policyMode"/>
        <result column="processName" jdbcType="VARCHAR" property="processName"/>
    </resultMap>
    <select id="getPolicyExtensionByPolicyId" parameterType="com.example.crawler.entity.PolicyExtension" resultMap="BaseResultMap">
        select *
        from policy_extension
        where policyId = #{policyId,jdbcType=VARCHAR}
    </select>

</mapper>